.video-box{
    font-size: 15px;
    line-height: 22.5px;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    word-spacing: 0px;
    color: #ffffff;
    height: auto;
    width: 100%;
    display: block;
}
.pedar{
    display: flex;
	justify-self: center;
	align-items: center;
	height: 50vh;
}
.h3text{
    display: block;
    font-weight: bold;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.6px;
    color: #ffffff;
    text-align: center;
    height: auto;
   width: 100%;
}
.ptext{
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    font-family: sans-serif;
   
    width: 100%;
    display: block;

}
.btnplaydiv{
    text-align: center;
    color: #ffffff;
    height: auto;
    width: 100%;
    display: block;
}
.play-btn-2{
    font-size: 30px;
    text-align: center;
    line-height: 72px;
    height: 80px;
    width: 80px;
    border: 2px solid #ffffff;
  
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}
.playicon{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    height: auto;
    width: auto;
    cursor: pointer;
    color: #ffffff;
    margin-bottom: 3px;

}

